events{
  worker_connections   1024;
}

http{
  upstream {{ app_name }} {
    server {{ server1_url }};
    server {{ server2_url }};
    server {{ server3_url }};
  }

  server {
    listen 80;
    
    location / {
      proxy_pass http://{{ app_name }};
    }
  }
}
